
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Log Level : @ViewBag.LogLevel</h2>
<br />
<h2>SMTPServer : @ViewBag.SMTPServer</h2>
<h2>AzureSQLServerURL : @ViewBag.AzureSQLServerURL</h2>
<h2>EmployeePhotoUploadPath : @ViewBag.EmployeePhotoUploadPath</h2>