
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h3>
    <a asp-controller="Default" asp-action="ShowData">Show All Data</a>
</h3>
<h3>
    <a asp-controller="Default" asp-action="ShowData" asp-route-id="23">Show All Data By ID</a>
</h3>
<h3>
    <a asp-route="ListOfProducts">List Of Data</a>
</h3>
<h3>
    <a asp-controller="Default" asp-action="Index"
       asp-fragment="BestSellingData">Best Selling Data</a>
</h3>
<h3>
    <a asp-protocol="https" asp-controller="Home" asp-action="Privacy">Privacy</a>
</h3>
<h3>
    <a asp-protocol="https" asp-host="microsoft.com" asp-controller="Home" asp-action="About">About</a>
</h3>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a name="BestSellingData">List of Best Selling Data</a>